.data-buku{
    position: absolute;
    top: 120px;
    z-index: -1;
    padding: 10px;
    width: 100%;
}

.data-buku .column{
    color: var(--content-color);
    width: 33.33%;
    padding: 10px;
    float: left;
}

.column #judul-buku{
    text-align: center;
    margin-bottom: 10px;
}

.column .desc{
    width: 100%;
    text-align: justify;
}

.column img{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* .data-buku:after{
    content: "";
    display: table;
    clear: both;
} */

@media (max-width: 700px) {
    .data-buku .column{
        width: 100%;
    }
}

@media(max-width: 450px){
    .data-buku{
        top: 220px;
    }

    .data-buku .column{
        width: 100%;
    }
}