*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color: #ffffff;
    --nav-color: #009900;
    --side-nav: #001a00;
    --text-color: #FFF;
    --hover-color: #008000;
    --content-color: #000000;
    --border-side-color: #008000;
    --border-bg: #b3ffb3;
}

body{
    height: 100%;
    background-color: var(--body-color);
}

body.dark{
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #FFF;
    --hover-color: #333333;
    --content-color: #FFF;
    --border-side-color: #808080;
    --border-bg: #d9d9d9;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    background-color: var(--nav-color);
    width: 100%;
    z-index: 1000;
}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sideBarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display:none;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .logo a::before{
    content: '';
    position: absolute;
    height: 6px;
    width: 6px;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 50%;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 10px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(50%);
    opacity: 0;
    transition: all 0.3s ease;
    height: 6px;
    width: 6px;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 50%;
}

.nav-links li:hover a::before{
    opacity: 1;
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .search-box{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.search-box i{
    position: fixed;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}


.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.top-nav{
    position: fixed;
    width: 100%;
    top: 70px;
    left: 0;
}

.top-nav a{
    width: 33.33%;
    background-color: var(--nav-color);
    float: left;
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
}

.top-nav a:hover{
    background-color: var(--hover-color);
}

@media(max-width: 450px){
    .top-nav a{
        font-size: 12px;
    }
}

@media (max-width: 790px){

    nav .nav-bar .sideBarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 250px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 1000;
        transition: all 0.3s ease;
    }

    nav.active .menu{
        left: 0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .sideBarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 60px;
    }
    
    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}